.request-container{
    min-height: 68vh;
    max-width: 60%;
    padding: 50px;
    margin: auto;
    display: grid;
}

.request-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.request-container form label{
    width: 60%;
}
.request-container form label span{
    font-weight: bold;
}
.request-container form label input{
    margin-top: 2px;
    height: 40px;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 500;
    background-color: transparent;
}

.request-container form button{
    width: 200px;
}